.side-link {
  display: ruby-base;
  color: indigo;
  text-decoration: bisque;
  padding: 10px;
  border-radius: 6px;
  background: oldlace;
  transition: 0.2s ease;
}

.side-link:hover {
  background: lightskyblue;
  transform: translateX(5px);
  color: lavender;
}
